<h1>I would like to hear from you!</h1>
<br>
<h4>Tell me anything you would like to discuss </h4>
<br>
<h4>What to eat, where to find a good place, when to have fun and even how to create a nice website</h4>
<p>contact me by clicking the little cute envelope at right -> <a href="mailto:liangjin.goforit@yahoo.com" target="_top"> <i class="fa fa-envelope"></i></a> or click the even smaller icon at the footer .</p>