<section id="topsection" data-type="background" data-speed="2">
	<article> 
		<div class="container clearfix">
			<div class="row">
				<div class="col-sm-12 hero-text" id="toptitle">
					<h1>Liang's Gourmet Garden</h1>
				</div>
				
				
			</div>
		</div>
	</article>
</section>



<% if user_signed_in? %>
	<section id="signinreminder">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 reminder-text">
					<p><strong>now click on an restaurants you are interested in ^ ^</strong></p>
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</section>
<% else %>
	<section id="signinreminder">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<p><strong>sign in to write a review for any restaurants you have visited</strong></p>
				</div><!-- col -->
				<div class="col-sm-4">
					<%= link_to "Click here to Sign In", new_user_session_path, class:"btn btn-success btn-block", padding: "0 10px 0 0" %>
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</section>
<% end %>


<script src="assets/js/main.js"></script>

<!-- ===================================================================== -->
<!--
<section id="topsection" data-type="background" data-speed="5">
	<article> 
		<div class="container clearfix">
			<div class="row">
				<div class="col-sm-5">
					<img src="../images/restaurant.png" alt="Bootstrap to Wordpress" class="logo">
				</div> 
				<div class="col-sm-7 hero-text">
					<h1>Bootstrap to Wordpress</h1>
				</div>
			</div>
		</div>
	</article>
</section>
-->
		<!-- Sign In Reminder SECTION -->
		<!-- ===================================================================== -->
<!--
<section id="signin">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<p class="lead"><strong>Sign In to Write a review for a restaurant</strong></p>
			</div>
			<div class="col-sm-4">
				
			</div>
		</div>
	</div>
</section>

-->